.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-e1df1o {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;

}
.css-6m4tm1 {
  font-size: 0.85rem !important;
  opacity: 0.8 !important;
  font-weight: bold !important;
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-wbk34u {
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 0 !important;
  color: #000000b7 !important;
}

.form-select:disabled {
  background-color: white !important;
}




.css-3w0u9u {
display: none !important;
}